a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sr-only:not(:focus):not(:active) {
    position: absolute; width: 1px; height: 1px;
    margin: -1px; border: 0; padding: 0;
    white-space: nowrap; overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}
:root {
    --purple: #ce96fb;
    --pink: #ff8fcf;
    --turquoise: #00c2ba;
}
html {
    font-size: 65.2%;
}
body {
    background-image: linear-gradient(180deg, var(--turquoise), var(--purple) 50%, var(--pink));
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 2em;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}
.marquee {
    top: 10%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
@keyframes slide-ltr {
    0% {
        left: -100%;
    }
    100% {
        left: 100%
    }
}
.marquee img {
    height: 100px;
    width: 100px;
    position: relative;
    animation: slide-ltr 10s linear infinite;
}
h1 {
    font-size: 4em;
    font-family: 'VT323', monospace;
    text-align: center;
    text-transform: uppercase;
}
i {
    font-size: 1.4em;
}
nav ul {
    display: flex;
    margin: 1.2em 0;
}
nav a {
    color: inherit;
    padding: 0.4em;
    margin: 0 0.4em;
    transition: text-shadow 300ms linear;
    
}
nav a:hover {
    text-shadow: 0 0 5px white,
    0 0 15px var(--turquoise);
}
.welcome-text {
    text-align: center;
}
@media (max-width: 768) {
    body { font-size: 1.6em; }
}
@media (max-width: 360px) {
    body { font-size: 1.4em; }
}